* {
    /* outline: 1px solid black; */
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: peachpuff;
    min-height: 100vh;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    display:grid;
    grid-template-rows: 1fr 1fr;
}


i{font-size: 80px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position:relative;}

span {position:relative; font-size: 80px;}



.bluebird {
    color: teal;
    position:relative;
}

.mirror {transform: scaleX(-1);}

/* .jump {
    animation: jump 0.2s alternate infinite ease-in-out, moveRight 10s 1 linear forwards;
} */

/* .gameContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} */

.jump2 {animation: jump 0.2s alternate infinite ease-in-out}


@keyframes jump {
    to {
        transform: translatey(-20px);
    }
}

@keyframes moveRight {
    to {
        transform: translate(100vw, -50vh);
    }
}

/* .moveLeft {animation: moveLeft 10s 1 linear;} */

@keyframes moveLeft {
    to {
        transform: translatex(-100vw);
    }
}
